<h1>Entre em contato</h1>

<form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
  <h5 *ngIf="success">Seu formulário é válido!</h5>

  <label>
    Nome:
    <input type="text" formControlName="name" />
    <div *ngIf="submitted && messageForm['controls'].name.errors" class="error">
      <div *ngIf="messageForm.controls['name'].errors.required">
        Seu nome é necessário
      </div>
    </div>
  </label>

  <label>
    Messagem:
    <textarea formControlName="message"></textarea>
    <div
      *ngIf="submitted && messageForm.controls['message'].errors"
      class="error"
    >
      <div *ngIf="messageForm.controls['message'].errors.required">
        A message is required
      </div>
    </div>
  </label>

  <input type="submit" value="Send message" class="cta" />
</form>

<div *ngIf="submitted" class="results">
  <strong>Name:</strong>
  <span>{{ messageForm.controls["name"].value }}</span>

  <strong>Message:</strong>
  <span>{{ messageForm.controls["message"].value }}</span>
</div>
